.dropdownNav:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  border: 1px solid #000;
  padding: 0 20px;
  background-color: #082546;
}


.navbar-toggler {
	color: #fff;
}

.navbar-nav > li {
	display: flex;
	align-items: center;
}

li > .menu{
	text-decoration: none;
	color: #fff;
}

.nav-link:focus, .nav-link:hover{
	color: #fff;
}


#logo {
  font-size: 1.8rem;
  color: #0d6efd;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 30px;
}
.menu {
  /* display: inline-block; */ 
  margin: 0 10px;
  /* background-color: #082546; */
  color: #fff;
}

.menu button{
	color: #fff;
}



#left {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
}
#right {
  display: flex;
  flex-direction: row;
}
.movieList {
  height: 10rem;
  border-bottom: 1px #aab1b1;
}
.movieListContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

